/* ----- GENERAL DESIGN -----*/

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

main {
    width: fit-content;
    margin: 0 auto;
}


/* ----- ICONS ----- */

.sort_icon {
    height: 15px;
    margin-left: -3px;
    margin-bottom: -3px;
    opacity: 0.3;
}

.sort_icon.sorting_active {
    opacity: 1;
}

.crest {
    height: 35px;
    margin-bottom: -8px;
    margin-left: 5px;
}


/* ----- STUDENT LIST ----- */

.student_list_container {
    width: fit-content;
    background-color: rgba(139, 0, 0, 0.1);
}

.student_list {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    align-items: center;
}


.list_options {
    text-align: right;
    padding: 10px;
}

.student_thumbnail {
    border: 3px solid darkred;
    border-radius: 30px;
    width: 75px;
}


/* ----- MODAL WINDOW ----- */

.popup_container {
    display: none;
}

.popup {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 1100px;
    max-height: 90vh;
    background-color: #ac1200;
}

.popup_info {
    color: white;
    padding: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 140px auto auto fit-content(500px);
}

.popup_dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.5;
}

.close img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.close img:hover {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 26px;
    height: 26px;
    opacity: 1;
}

.popup_student_info {
    display: grid;
}

.popup_option_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.2);
}

.popup_option_buttons button {
    height: fit-content;
    width: 100%;
    text-align: right;
    padding: 5px;
    margin: 2px;
}

.popup_statuses {
    padding-right: 150px;
}

td {
    padding-right: 20px;
}

.popup_info_label {
    font-weight: bold;
}

.icon {
    height: 15px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0 0 0;
    color: white;
}

.list_student_container {
    display: grid;
    grid-template: inherit;
}
