/* ----- GENERAL DESIGN -----*/

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

main {
    width: fit-content;
    margin: 0 auto;
}


/* ----- ICONS ----- */

.sort_icon {
    height: 15px;
    margin-left: -3px;
    margin-bottom: -3px;
    opacity: 0.3;
}

.sort_icon.sorting_active {
    opacity: 1;
}

.crest {
    height: 15px;
    margin-left: -3px;
    margin-bottom: -3px;
}


/* ----- STUDENT LIST ----- */

.student_list_container {
    width: fit-content;
    background-color: rgba(139, 0, 0, 0.1);
}

.student_list {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-column-gap: 50px;
    grid-row-gap: 10px;
}


.list_options {
    text-align: right;
    padding: 10px;
}

.student_thumbnail {
    border: 3px solid darkred;
    border-radius: 30px;
    width: 75px;
}


/* ----- MODAL WINDOW ----- */

.popup {
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    max-height: 90vh;
    background-color: #cfd000;
}

.popup_info {
    padding: 40px 30px 30px 30px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.popup_dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    display: none;
}

.close img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.close img:hover {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 26px;
    height: 26px;
    opacity: 1;
}
